# python related rules
# global gitignore file for this project
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
venv/
.venv/
.vscode/
.env
.env.minio
.coverage
.python-version

# golang related rules
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# go build artifacts
bin/
