openapi: 3.0.3
info:
  title: ym music service
  version: "0.1.0"

components:
  schemas:

    UserAuth:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
          format: password

    UserReturn:
      type: object
      required:
        - username
        - email
      properties:
        username:
          type: string
        email:
          type: string
          nullable: true

    TokenResponse:
      type: object
      required:
        - token_type
        - access_token
      properties:
        token_type:
          type: string
        access_token:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string

paths:
  /auth/login:
    post:
      summary: "login user into account"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuth'
      responses:
        '200':
          description: User was logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Error on invalid user credentionals
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /auth/register:
    post:
      summary: "register new user"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuth'
      responses:
        '201':
          description: New user account was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Error if user already exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/{userId}:
    get:
      summary: get user by id
      parameters:
        - in: path
          name: userId
          schema:
            type: integer
          required: true
          description: user id, represented by int

      responses:
        '200':
          description: Successfully fetching user data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserReturn'
        '401':
          description: 'Unauthorized access, if something goes wrong with tokens'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User with this id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
