openapi: 3.0.3
info:
  title: ym music service
  version: "0.1.0"

paths:
  /auth/login:
    $ref: './paths/user.yml#/auth/login'
  /auth/register:
    $ref: './paths/user.yml#/auth/register'
  /user/{userId}:
    $ref: './paths/user.yml#/user/{userId}'
  /user/{userId}/change_password:
    $ref: './paths/user.yml#/user/{userId}/change_password'
  /track/upload:
    $ref: './paths/track.yml#/track/upload'
  /track/{trackId}:
    $ref: './paths/track.yml#/track/{trackId}'
  /artist/create:
    $ref: './paths/artist.yml#/artist/create'
  /artist/{artistId}:
    $ref: './paths/artist.yml#/artist/{artistId}'
  /artist/{artistId}/image:
    $ref: './paths/artist.yml#/artist/{artistId}/image'
  /playlist/create:
    $ref: './paths/playlist.yml#/playlist/create'
  /playlist/{playlistId}:
    $ref: './paths/playlist.yml#/playlist/{playlistId}'
  /playlist/{playlistId}/cover:
    $ref: './paths/playlist.yml#/playlist/{playlistId}/cover'
  /album/create:
    $ref: './paths/album.yml#/album/create'
  /album/{albumId}:
    $ref: './paths/album.yml#/album/{albumId}'
  /album/{albumId}/cover:
    $ref: './paths/album.yml#/album/{albumId}/cover'

components:
  schemas:
    UserAuth:
      $ref: './schemas/user.yml#/UserAuth'
    UserReturn:
      $ref: './schemas/user.yml#/UserReturn'
    UserChangePassword:
      $ref: './schemas/user.yml#/UserChangePassword'
    UserUpdate:
      $ref: './schemas/user.yml#/UserUpdate'
    TokenResponse:
      $ref: './schemas/user.yml#/TokenResponse'
    ErrorResponse:
      $ref: './schemas/common.yml#/ErrorResponse'
    MessageResponse:
      $ref: './schemas/common.yml#/MessageResponse'
    LoginErrorResponse:
      $ref: './schemas/common.yml#/LoginErrorResponse'
    TrackUploadSuccessResponse:
      $ref: './schemas/track.yml#/TrackUploadSuccessResponse'
    TrackUploadRequest:
      $ref: './schemas/track.yml#/TrackUploadRequest'
    TrackMetadata:
      $ref: './schemas/track.yml#/TrackMetadata'
    ArtistCreateRequest:
      $ref: './schemas/artist.yml#/ArtistCreateRequest'
    ArtistCreateResponse:
      $ref: './schemas/artist.yml#/ArtistCreateResponse'
    ArtistInfoResponse:
      $ref: './schemas/artist.yml#/ArtistInfoResponse'
    ArtistDeleteResponse:
      $ref: './schemas/artist.yml#/ArtistDeleteResponse'
    ArtistImageResponse:
      $ref: './schemas/artist.yml#/ArtistImageResponse'
    PlaylistCreateRequest:
      $ref: './schemas/playlist.yml#/PlaylistCreateRequest'
    PlaylistCreateResponse:
      $ref: './schemas/playlist.yml#/PlaylistCreateResponse'
    PlaylistInfoResponse:
      $ref: './schemas/playlist.yml#/PlaylistInfoResponse'
    PlaylistDeleteResponse:
      $ref: './schemas/playlist.yml#/PlaylistDeleteResponse'
    PlaylistCoverResponse:
      $ref: './schemas/playlist.yml#/PlaylistCoverResponse'
    AlbumCreateRequest:
      $ref: './schemas/album.yml#/AlbumCreateRequest'
    AlbumCreateResponse:
      $ref: './schemas/album.yml#/AlbumCreateResponse'
    AlbumInfoResponse:
      $ref: './schemas/album.yml#/AlbumInfoResponse'
    AlbumDeleteResponse:
      $ref: './schemas/album.yml#/AlbumDeleteResponse'
    AlbumCoverResponse:
      $ref: './schemas/album.yml#/AlbumCoverResponse'
